<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Roger Briz" content="">
    <link rel="icon" href="https://roger-sport.com/images/icon/rsicon.png">
    <title>ROGER-SPORT</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css_js/custom_style.css">
    <link rel="stylesheet" href="../bower_components/easyzoom/css/pygments.css" />
    <link rel="stylesheet" href="../bower_components/easyzoom/css/easyzoom.css" />
    <link href="../css_js/style.css" rel="stylesheet">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../css_js/custom_javascript.js"></script>
		<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/easyzoom/dist/easyzoom.js"></script>
   <script type="text/javascript" src="../css_js/app.js"></script>
    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img class='mainlogo' src= '../images/brand/mainlogo.png'></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown"> 
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  TECNOLOGIAS  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="materiales.html">MATERIALES</a></li>
		            <li class="active"><a href="badanas.html">BADANAS</a></li>
          		</ul>
        		</li>
						<li class="dropdown">
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  PERSONALIZADO  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="ciclismocustom.html">CICLISMO</a></li>
		            <li><a  href="duatloncustom.html">TRI/DUATLON</a></li>
		            <li><a href="runningcustom.html">ATLETISMO</a></li>
		            <li class="divider"></li>
		            <li><a href="complementoscustom.html">COMPLEMENTOS</a></li>
          		</ul>
        		</li>
        		<li class="dropdown">
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  CATALOGO  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="ciclismocatalogo.html">CICLISMO</a></li>
                <li><a href="duatloncatalogo.html">TRI/DUATLON</a></li>
                <li><a href="runningcatalogo.html">ATLETISMO</a></li>
                <li class="divider"></li>
                <li><a href="complementoscatalogo.html">COMPLEMENTOS</a></li>
          		</ul>
        		</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
			<li><a href="/blog">BLOG</a></li>
        		  <li><a href="contacto.html">  CONTACTO  </a></li>
          </ul>
        </div>
      </div>
    </div>

      <div class="container_badanas ">

          <div class="row">

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/rekord-big.jpg">
                    <img class='img-responsive'src="../images/badanas/rekord-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Rekord</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Extremo Multifunción</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 216 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/newlady-big.jpg">
                    <img class='img-responsive'src="../images/badanas/newlady-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Newlady</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Extremo Multifunción</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 216 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/new-big.jpg">
                    <img class='img-responsive'src="../images/badanas/new-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>New</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Extremo Multifunción</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 216 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/carbon-big.jpg">
                    <img class='img-responsive'src="../images/badanas/carbon-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Carbon</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Extremo Multifunción</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 216 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/coral-big.jpg">
                    <img class='img-responsive'src="../images/badanas/coral-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Coral</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 3</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 3mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 280 x 195 mm</li>
                    </ul>
                  </div>
              </div>

               <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/lady-big.jpg">
                    <img class='img-responsive'src="../images/badanas/lady-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Lady</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 3</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 278 x 194 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/mtbcarbon-big.jpg">
                    <img class='img-responsive'src="../images/badanas/mtbcarbon-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>MTB Carbon</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Extremo Multifunción</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 216 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/profesional-big.jpg">
                    <img class='img-responsive'src="../images/badanas/profesional-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Profesional</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 3</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 3mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 340 x 224 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/silver-big.jpg">
                    <img class='img-responsive'src="../images/badanas/silver-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Silver</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 350 x 224 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/nanoxx-big.jpg">
                    <img class='img-responsive'src="../images/badanas/nanoxx-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Nano XX</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Triatlón & Duatlón</li>
                      <li><span class='smaller-text'>CAPAS </span>| 2</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Media</li>
                      <li><span class='smaller-text'>GROSOR </span>| 3mm - 1mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 315 x 220 mm</li>
                    </ul>
                  </div>
              </div>

               <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/nanoxy-big.jpg">
                    <img class='img-responsive'src="../images/badanas/nanoxy-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Nano XY</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Triatlón & Duatlón</li>
                      <li><span class='smaller-text'>CAPAS </span>| 2</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Media</li>
                      <li><span class='smaller-text'>GROSOR </span>| 3mm - 1mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 219 x 120 mm</li>
                    </ul>
                  </div>
              </div>

              

               <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/slim-big.jpg">
                    <img class='img-responsive'src="../images/badanas/slim-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Slim</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Triatlón & Duatlón</li>
                      <li><span class='smaller-text'>CAPAS </span>| 2</li>
                      <li><span class='smaller-text'>GENERO </span>| Unisex</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Media</li>
                      <li><span class='smaller-text'>GROSOR </span>| 6mm - 1.5mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 265 x 162 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/speed-big.jpg">
                    <img class='img-responsive'src="../images/badanas/speed-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Speed</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 3</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 3mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 300 x 202 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/tour-big.jpg">
                    <img class='img-responsive'src="../images/badanas/tour-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Tour</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Libertad de movimiento</li>
                      <li><span class='smaller-text'>CAPAS </span>| 3</li>
                      <li><span class='smaller-text'>GENERO </span>| Masculino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 4mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 368 x 207 mm</li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/trackwomen-big.jpg">
                    <img class='img-responsive'src="../images/badanas/trackwomen-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Track</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Larga distancia & Resistencia</li>
                      <li><span class='smaller-text'>CAPAS </span>| 4</li>
                      <li><span class='smaller-text'>GENERO </span>| Femenino</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Muy Larga</li>
                      <li><span class='smaller-text'>GROSOR </span>| 10mm - 3mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 315 x 217 mm</li>
                    </ul>
                  </div>
              </div>

               <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="easyzoom easyzoom--overlay">
                  <a href="../images/badanas/kid-big.jpg">
                    <img class='img-responsive'src="../images/badanas/kid-small.jpg" max-height='240'/>
                  </a>
                </div>
                  <div class='badana-info'>
                    <h2>Kid</h2>
                    <ul>
                      <li><span class='smaller-text'>CATEGORIA </span>| Infantil</li>
                      <li><span class='smaller-text'>CAPAS </span>| 2</li>
                      <li><span class='smaller-text'>GENERO </span>| Unisex</li>
<li><span class='smaller-text'>GENERO </span>| Unisex</li>
                      <li><span class='smaller-text'>DISTANCIA </span>| Media</li>
                      <li><span class='smaller-text'>GROSOR </span>| 8mm - 5mm</li>
                      <li><span class='smaller-text'>USO </span>| Carretera & Mountain bike</li>
                      <li><span class='smaller-text'>LARGO/ANCHO </span>| 270 x 205 mm</li>
                    </ul>
                  </div>
              </div>
            
          </div><!-- end row -->

      </div><!--END CONTAINER-->

      
      <div class='footer'>
          
            <div class="container_footer">
              <div class="col-lg-3 col-md-3">
                <h5> ® ROGER-SPORT</h5>
                  <ul>
                    <li><a href="../files/rs-avisolegal.pdf">Aviso legal</a></li>
                  </ul>
                <h5>CICLISMO</h5>
                  <ul>
                    <li><a href="../catalog_views/maillotcorto-storm.html">Conjunto verano I</a></li>
                    <li><a href="../catalog_views/chaleco-storm.html">Conjunto verano II</a></li>
                    <li><a href="../catalog_views/maillotlargo-storm.html">Conjunto entretiempo</a></li>
                    <li><a href="../catalog_views/chaqueta-storm.html">Conjunto invierno</a></li>
                    <li><a href="../catalog_views/buzo-eus.html">Buzo</a></li>
                    <li><a href="../catalog_views/chubasquero-techless.html">Chubasquero</a></li>
                    <li><a href="ciclismocustom.html">Equipaciones personalizadas</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>RUNNING</h5>
                  <ul>
                    <li><a href="../catalog_views/storm-red.html">Camiseta</a></li>
                    <li><a href="../catalog_views/short-dark.html">Pantalon corto</a></li>
                    <li><a href="runningcustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>DUA/TRIATLON</h5>
                  <ul>
                    <li><a href="../catalog_views/body-gear.html">Body</a></li>
                    <li><a href="duatloncustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>COMPLEMENTOS</h5>
                  <ul>
                    <li><a href="complementoscustom.html">Personalizado</a></li>
                    <li><a href="complementoscatalogo.html">Catalogo</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>TECNOLOGIAS</h5>
                  <ul>
                    <li><a href="badanas.html">Badanas</a></li>
                    <li><a href="materiales.html">Materiales</a></li>
                  </ul>
                <h5>SOBRE NOSOTROS</h5>
                  <ul>
                    <li><a href="about.html">Quienes somos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                  </ul>
                <h5>SIGUENOS <a href="https://www.facebook.com/pages/Roger-Sport/616391605087554?ref=hl"><img id='facebook-icon' src="../images/icon/facebook.png"></a>
                              <a href="https://plus.google.com/102787408850322895760/about?_ga=1.17424958.626591686.1435356668" rel="publisher"><img id='googleplus-icon' src="../images/icon/googleplus.png"></a></h5>
              
                <h5>DUDAS</h5>
                  <ul>
                    <li><a href="faq.html">Preguntas frecuentes</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
              <h5>PREGUNTAS Y SUGERENCIAS</h5>
                  <div id="form-messages">
                  
                  <form id="ajax-contact" method="post" action="mailer.php">
                    <div class="field">
                      <label for="name">Nombre</label>
                      <input type="text" id="name" name="name" required>
                    </div>

                    <div class="field">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" required>
                    </div>

                    <div class="field">
                      <label for="message">Duda o sugerencia</label>
                      <textarea id="message" name="message" required></textarea>
                    </div>

                    <div class="field">
                      <button id='enviar' type="submit">Send</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          
        </div><!-- end footer -->

        <script>
            // Instantiate EasyZoom plugin
            var $easyzoom = $('.easyzoom').easyZoom();

            // Get the instance API
            var api = $easyzoom.data('easyZoom');
        </script>

        <div class="cookiesms" id="cookie1">
          Esta web utiliza cookies, puedes ver aquí nuestra<a href="../files/politicacookies.pdf">&nbsp&nbsp&nbsp&nbsp política de cookies&nbsp&nbsp&nbsp&nbsp</a> 
                    Si continuas navegando estás aceptándola
          <button onclick="controlcookies()">Aceptar</button>
            <div  class="cookies2" onmouseover="document.getElementById('cookie1').style.bottom = '0px';">Política de cookies + </div>
        </div>
        <script type="text/javascript">
          if (localStorage.controlcookie>0){ 
            document.getElementById('cookie1').style.bottom = '-50px';
            }
        </script>
        <script type="text/javascript" src="../css_js/ga.js"></script>
  </body>
</html>