<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Empresa especializada en la fabricación de equipaciones personalizadas. Specializing in the manufacture personalized equipment manufacturer Company">
    <meta name="keywords" content="ciclismo, bici, personalizado, personalizada, equipación, maillot, culotte, roger, sport, deporte, duatlon, triatlon, mtb, body, run, calidad, moderno, simple, diseño">
    <meta name="author" content="Roger Briz">
    <link rel="icon" href="https://roger-sport.com/images/icon/rsicon.png">
    <title>ROGER-SPORT</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css_js/custom_style.css" rel="stylesheet">
    <link href="../css_js/style.css" rel="stylesheet">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../css_js/custom_javascript.js"></script>
		<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../css_js/app.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img class='mainlogo' src= '../images/brand/mainlogo.png'></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown"> 
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  TECNOLOGIAS  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="materiales.html">MATERIALES</a></li>
		            <li><a href="badanas.html">BADANAS</a></li>
          		</ul>
        		</li>
						<li class="dropdown">
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  PERSONALIZADO  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="ciclismocustom.html">CICLISMO</a></li>
		            <li><a  href="duatloncustom.html">TRI/DUATLON</a></li>
		            <li><a href="runningcustom.html">ATLETISMO</a></li>
		            <li class="divider"></li>
		            <li class="active"><a href="complementoscustom.html">COMPLEMENTOS</a></li>
          		</ul>
        		</li>
        		<li class="dropdown">
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">  CATALOGO  <span class="caret"></span></a>
		          <ul class="dropdown-menu " role="menu">
		            <li><a href="ciclismocatalogo.html">CICLISMO</a></li>
                <li><a href="duatloncatalogo.html">TRI/DUATLON</a></li>
                <li><a href="runningcatalogo.html">ATLETISMO</a></li>
                <li class="divider"></li>
                <li><a href="complementoscatalogo.html">COMPLEMENTOS</a></li>
          		</ul>
        		</li>
            </ul>
             <ul class="nav navbar-nav navbar-right">
              <li><a href="/blog">BLOG</a></li>
        		  <li><a href="contacto.html">  CONTACTO  </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container_custom_intro">
          
            <div class="row">

              <div class="col-lg-2 col-sm-3 col-md-3 col-xs-12">
                <img id="close-button" src="../images/icon/close.png">  
              </div>
              <div class="col-lg-4 col-sm-9 col-md-9 col-xs-12">
                <p class="custom-intro-text">Si tienes una idea aproximada del diseño que quieres puedes descargarte nuestras plantillas y mandárnosla con un pequeño boceto, nosotros te ayudaremos.<br><a href='contacto.html'>¿Prefieres contárnoslo?</a></p>  
              </div>
              <div class="col-lg-2 col-sm-4 col-md-4 col-xs-12">
                <a title=' Plantilla-> Maillot corto | Culotte corto' href="../files/summerlayout.zip"><img class='layouts' src="../images/layouts/summerlayout.png"></a>  
              </div>
              <div class="col-lg-2 col-sm-4 col-md-4 col-xs-12">
                <a title=' Plantilla-> Buzo ciclismo | Body tri/duatlon' href="../files/buzobodylayout.zip"><img  class='layouts' src="../images/layouts/buzolayout.png"></a>
              </div>
               <div class="col-lg-2 col-sm-4 col-md-4 col-xs-12">
                <a title=' Plantilla-> Maillot largo | Culotte largo' href="../files/winterlayout.zip"><img class='layouts' src="../images/layouts/winterlayout.png"></a>  
              </div>


            </div>
        </div>


        <div class='container-complementos'>

          <div class="row">

            <div class="col-sm-6 col-md-4" >
              <div class="thumbnail" id ='thumb1'>
                <img src="../images/complementos-custom/centroasturiano-guantes.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb1text'><h3>CENTRO ASTURIANO</h3>
                  <h6><strong>Guantes verano GEL 2013-2014</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb2'>
                <img src="../images/complementos-custom/ciclosgarcia-guantes.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb2text'><h3>CICLOS GARCIA</h3>
                  <h6><strong>Guantes verano GEL 2013-2014</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb3'>
                <img src="../images/complementos-custom/blan-rodilleras.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb3text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Rodillera invierno 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            </div><!-- end row -->

             <div class="row">

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb4'>
                <img src="../images/complementos-custom/scb-guantes.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb4text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Guantes verano ELITE 2014-2015</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb5'>
                <img src="../images/complementos-custom/andosilla-manguitos.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb5text'><h3>ANSOSILLA</h3>
                  <h6><strong>Manguitos invierno 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb6'>
                <img src="../images/complementos-custom/blan-manguitos.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb6text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Manguitos invierno 2014-2015</strong></h6></div>
                </div>
              </div>
            </div>

            </div><!-- end row -->

             <div class="row">

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb7'>
                <img src="../images/complementos-custom/scb-manguitos.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb7text'><h3>SOC. CICLISTA BILBAINA</h3>
                  <h6><strong>Manguitos invierno 2013-2014</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb8'>
                <img src="../images/complementos-custom/triatlonferrol-manguitos.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb8text'><h3>TRIATLON FERROL</h3>
                  <h6><strong>Manguitos verano 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb9'>
                <img src="../images/complementos-custom/blan-bragacuello.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb9text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Braga entretiempo 2013-2014</strong></h6></div>
                </div>
              </div>
            </div>

            </div><!-- end row -->

            <div class="row">

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb10'>
                <img src="../images/complementos-custom/blan-cubrebotin.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb10text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Cubrebotin invierno 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb11'>
                <img src="../images/complementos-custom/eltorcal-cubrebotin.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb11text'><h3>C.C. EL TORCAL</h3>
                  <h6><strong>Cubrebotin verano 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb12'>
                <img src="../images/complementos-custom/kirikino-bragacuello.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb12text'><h3>KIRIKIÑO ATL.TALDEA</h3>
                  <h6><strong>Braga entretiempo 2012-2013</strong></h6></div>
                </div>
              </div>
            </div>

            </div><!-- end row -->

            <div class="row">

            <!-- <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb13'>
                <img src="../images/complementos-custom/blan-rodilleras.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb13text'><h3>SOC. CICLISTA VITORIANA</h3>
                  <h6><strong>Rodillera invierno 2012-2013</strong></h6></div>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb14'>
                <img src="../images/complementos-custom/kirikiño-bragacuello.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb14text'><h3>KIRIKIÑO ATL.TALDEA</h3>
                  <h6><strong>Braga entretiempo 2012-2013</strong></h6></div>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id ='thumb15'>
                <img src="../images/complementos-custom/mugarrataldea-cubrebotin.jpg">
                <div class="caption">
                  <div  class='textoverimg' id='thumb15text'><h3>MUGARRA TALDEA</h3>
                  <h6><strong>Cubrebotin invierno 2012-2013</strong></h6></div>
                </div>
              </div>
            </div> -->

            </div><!-- end row -->

          </div><!-- end container -->
          
               


          
        </div>

          <div class='footer'>
          
            <div class="container_footer">
              <div class="col-lg-3 col-md-3">
                <h5> ® ROGER-SPORT</h5>
                  <ul>
                    <li><a href="../files/rs-avisolegal.pdf">Aviso legal</a></li>
                  </ul>
                <h5>CICLISMO</h5>
                  <ul>
                    <li><a href="../catalog_views/maillotcorto-storm.html">Conjunto verano I</a></li>
                    <li><a href="../catalog_views/chaleco-storm.html">Conjunto verano II</a></li>
                    <li><a href="../catalog_views/maillotlargo-storm.html">Conjunto entretiempo</a></li>
                    <li><a href="../catalog_views/chaqueta-storm.html">Conjunto invierno</a></li>
                    <li><a href="../catalog_views/buzo-eus.html">Buzo</a></li>
                    <li><a href="../catalog_views/chubasquero-techless.html">Chubasquero</a></li>
                    <li><a href="ciclismocustom.html">Equipaciones personalizadas</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>RUNNING</h5>
                  <ul>
                    <li><a href="../catalog_views/storm-red.html">Camiseta</a></li>
                    <li><a href="../catalog_views/short-dark.html">Pantalon corto</a></li>
                    <li><a href="runningcustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>DUA/TRIATLON</h5>
                  <ul>
                    <li><a href="../catalog_views/body-gear.html">Body</a></li>
                    <li><a href="duatloncustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>COMPLEMENTOS</h5>
                  <ul>
                    <li><a href="complementoscustom.html">Personalizado</a></li>
                    <li><a href="complementoscatalogo.html">Catalogo</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>TECNOLOGIAS</h5>
                  <ul>
                    <li><a href="badanas.html">Badanas</a></li>
                    <li><a href="materiales.html">Materiales</a></li>
                  </ul>
                <h5>SOBRE NOSOTROS</h5>
                  <ul>
                    <li><a href="about.html">Quienes somos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                  </ul>
                <h5>SIGUENOS <a href="https://www.facebook.com/pages/Roger-Sport/616391605087554?ref=hl"><img id='facebook-icon' src="../images/icon/facebook.png"></a>
                              <a href="https://plus.google.com/102787408850322895760/about?_ga=1.17424958.626591686.1435356668" rel="publisher"><img id='googleplus-icon' src="../images/icon/googleplus.png"></a></h5>
              
                <h5>DUDAS</h5>
                  <ul>
                    <li><a href="faq.html">Preguntas frecuentes</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
              <h5>PREGUNTAS Y SUGERENCIAS</h5>
                  <div id="form-messages"></div>
                  
                  <form id="ajax-contact" method="post" action="mailer.php">
                    <div class="field">
                      <label for="name">Nombre</label>
                      <input type="text" id="name" name="name" required>
                    </div>

                    <div class="field">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" required>
                    </div>

                    <div class="field">
                      <label for="message">Duda o sugerencia</label>
                      <textarea id="message" name="message" required></textarea>
                    </div>

                    <div class="field">
                      <button id='enviar' type="submit">Send</button>
                    </div>
                  </form>
              </div>

            </div>
          
        </div><!-- end footer -->

        <div class="cookiesms" id="cookie1">
          Esta web utiliza cookies, puedes ver aquí nuestra<a href="../files/politicacookies.pdf">&nbsp&nbsp&nbsp&nbsp política de cookies&nbsp&nbsp&nbsp&nbsp</a> 
                    Si continuas navegando estás aceptándola
          <button onclick="controlcookies()">Aceptar</button>
            <div  class="cookies2" onmouseover="document.getElementById('cookie1').style.bottom = '0px';">Política de cookies + </div>
        </div>
        <script type="text/javascript">
          if (localStorage.controlcookie>0){ 
            document.getElementById('cookie1').style.bottom = '-50px';
            }
        </script>
        <script type="text/javascript" src="../css_js/ga.js"></script>
  </body>
</html>