<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Roger Briz" content="">
    <link rel="icon" href="../images/icon/rsicon.png">
    <title>ROGER-SPORT</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css_js/custom_style.css" rel="stylesheet">
    <link href="../css_js/style.css" rel="stylesheet">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../css_js/custom_javascript.js"></script>
		<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../css_js/app.js"></script>
  </head>

  <body>

     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img class='mainlogo' src= '../images/brand/mainlogo.png'></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown"> 
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">  TECNOLOGIAS  <span class="caret"></span></a>
              <ul class="dropdown-menu " role="menu">
                <li class="active" ><a href="materiales.html">MATERIALES</a></li>
                <li><a href="badanas.html">BADANAS</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">  PERSONALIZADO  <span class="caret"></span></a>
              <ul class="dropdown-menu " role="menu">
                <li><a href="ciclismocustom.html">CICLISMO</a></li>
                <li><a  href="duatloncustom.html">TRI/DUATLON</a></li>
                <li><a href="runningcustom.html">ATLETISMO</a></li>
                <li class="divider"></li>
                <li><a href="complementoscustom.html">COMPLEMENTOS</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">  CATALOGO  <span class="caret"></span></a>
              <ul class="dropdown-menu " role="menu">
                <li><a href="ciclismocatalogo.html">CICLISMO</a></li>
                <li><a href="duatloncatalogo.html">TRI/DUATLON</a></li>
                <li><a href="runningcatalogo.html">ATLETISMO</a></li>
                <li class="divider"></li>
                <li><a href="complementoscatalogo.html">COMPLEMENTOS</a></li>
              </ul>
            </li>
            </ul>
  <ul class="nav navbar-nav navbar-right">
              <li><a href="/blog">BLOG</a></li>
        		  <li><a href="contacto.html">  CONTACTO  </a></li>
          </ul>
        </div>
      </div>
    </div>

        <div class="container_materials ">

      <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material1'>
            <img class="img-circle" src="../images/materials/aenergia.jpg">
              <div class='weather' id='weather1'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Aenergia</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <div class='technical-info'><p>74% Poliamida | 26% Elastan | 210<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material2'>
            <img class="img-circle" src="../images/materials/alpha.jpg">
              <div class='weather' id='weather2'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Alpha</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>80% Poliamida | 20% Elastan | 210<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material3'>
            <img class="img-circle" src="../images/materials/ametistapes.jpg">
              <div class='weather' id='weather3'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>                
              </div>
          </div>
              <h2>Ametista Pes</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>59% Poliester | 4% Poliamida | 35% Elastan | 2% Otras fibras| 210<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>

        
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material4'>
            <img class="img-circle" src="../images/materials/asteria.jpg">
              <div class='weather' id='weather4'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Asteria</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>86% Poliester | 14% Elastan | 140<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material5'>
            <img class="img-circle" src="../images/materials/atom85.jpg">
              <div class='weather' id='weather5'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Viento"><img id='wind' src="../images/icon/wind.png"></a>
              </div>
          </div>
              <h2>Atom</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>87% Poliester | 13% Poliuretano | 115<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material6'>
            <img class="img-circle" src="../images/materials/borzoi.jpg">
              <div class='weather' id='weather6'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
              </div>
          </div>
              <h2>Borzoi</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>100% Poliester | 210<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material7'>
            <img class="img-circle" src="../images/materials/capraia.jpg">
              <div class='weather' id='weather7'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
              </div>
          </div>
              <h2>Capraia</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>80% Poliester | 20% Elastan | 190<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


         <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material8'>
            <img class="img-circle" src="../images/materials/dragonfly.jpg">
              <div class='weather' id='weather8'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Dragon</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>95% Poliester | 5% Elastan | 140<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material9'>
            <img class="img-circle" src="../images/materials/flow.jpg">
              <div class='weather' id='weather9'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Viento"><img id='wind' src="../images/icon/wind.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Flow</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>100% Poliester | 105<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material10'>
            <img class="img-circle" src="../images/materials/flylight85.jpg">
              <div class='weather' id='weather10'>
                <a title="Impermeable"><img id='waterproof' src="../images/icon/waterproof.png"></a>
                <a title="Viento"><img id='wind' src="../images/icon/wind.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Fly</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>84% Poliester | 16% Poliuretano | 95<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material11'>
            <img class="img-circle" src="../images/materials/garzato.jpg">
              <div class='weather' id='weather11'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
              </div>
          </div>
              <h2>Garzato</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>85% Poliester | 15% Elastan | 185<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material12'>
            <img class="img-circle" src="../images/materials/gocciacool-carbon.jpg">
              <div class='weather' id='weather12'>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>      
              </div>
          </div>
              <h2>Goccia Carbon</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>97% Poliester | 2% Poliamida | 1% Otras fibras | 140<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material13'>
            <img class="img-circle" src="../images/materials/hotwind-cat.jpg">
              <div class='weather' id='weather13'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Hotwind</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>80% Poliester | 20% Elastan | 210<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material14'>
            <img class="img-circle" src="../images/materials/warmplus.jpg">
              <div class='weather' id='weather14'>
                <a title="Invierno"><img id='winter-cold' src="../images/icon/bad-weather.png"></a>
                <a title="Bajas temperaturas"><img id='low-temp' src="../images/icon/low-temp.png"></a>
                <a title="Viento"><img id='wind' src="../images/icon/wind.png"></a>
              </div>
          </div>
              <h2>Warm Plus</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>85% Poliester | 10% Elastan | 5% Poliuretano | 310<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material15'>
            <img class="img-circle" src="../images/materials/jersey.jpg">
              <div class='weather' id='weather15'>
                 <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>      
              </div>
          </div>
              <h2>Jersey</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>100% Poliester | 135<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material16'>
            <img class="img-circle" src="../images/materials/pianosa.jpg">
              <div class='weather' id='weather16'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
              </div>
          </div>
              <h2>Pianosa</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>75% Poliamida | 25% Elastan | 165<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material17'>
            <img class="img-circle" src="../images/materials/pixel.jpg">
              <div class='weather' id='weather17'>
                <a title="Reflectante"><img id='reflect' src="../images/icon/reflect.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Pixel</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>71% Poliester | 15% Elastan | 11% Vidrio | 3% Poliuretano | 135<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material18'>
            <img class="img-circle" src="../images/materials/pro22076.jpg">
              <div class='weather' id='weather18'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
              </div>
          </div>
              <h2>Pross</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>100% Poliester | 135<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


         <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material19'>
            <img class="img-circle" src="../images/materials/silver+id125.jpg">
              <div class='weather' id='weather19'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Silver</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 97% Poliester | 3% Otras fibras | 125<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material20'>
            <img class="img-circle" src="../images/materials/superroubaix.jpg">
              <div class='weather' id='weather20'>
                <a title="Invierno"><img id='winter-cold' src="../images/icon/bad-weather.png"></a>
                <a title="Bajas temperaturas"><img id='low-temp' src="../images/icon/low-temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Super Roubaix</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>82% Poliamida | 14% Elastan | 3% Poliester | 1% Otras fibras | 245<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


         <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material21'>
            <img class="img-circle" src="../images/materials/tavolara180.jpg">
              <div class='weather' id='weather21'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Tavolara 180</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>80% Poliester | 20% Elastan | 180<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material22'>
            <img class="img-circle" src="../images/materials/think505.jpg">
              <div class='weather' id='weather22'>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Think</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 93% Poliester | 7% Elastan | 140<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material23'>
            <img class="img-circle" src="../images/materials/WINGS.jpg">
              <div class='weather' id='weather23'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
              </div>
          </div>
              <h2>Wings</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 88% Poliester | 12% Elastan | 135<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material24'>
            <img class="img-circle" src="../images/materials/yakut.jpg">
              <div class='weather' id='weather24'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
              </div>
          </div>
              <h2>Yakut</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 100% Poliester | 205<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material25'>
            <img class="img-circle" src="../images/materials/pizzi.jpg">
              <div class='weather' id='weather25'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Pizzi</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 100% Poliester | 175<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material26'>
            <img class="img-circle" src="../images/materials/jabato.jpg">
              <div class='weather' id='weather26'>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Jabato</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p> 100% Poliester | 130<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material27'>
            <img class="img-circle" src="../images/materials/privilege.jpg">
              <div class='weather' id='weather27'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Privilege</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>84% Poliamida | 16% Elastan | 280<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material28'>
            <img class="img-circle" src="../images/materials/quantum.jpg">
              <div class='weather' id='weather28'>
                <a title="Nublado"><img id='clouds-and-sun' src="../images/icon/cloudsandsun.png"></a>
                <a title="Medias temperaturas"><img id='medium-temp' src="../images/icon/medium-temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Quantum</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>100% Poliester | 200<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


         <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material29'>
            <img class="img-circle" src="../images/materials/silicon.jpg">
              <div class='weather' id='weather29'>
                <a title="Material Ligero"><img id='light' src="../images/icon/light.png"></a>
                <a title="Adherente"><img id='glue' src="../images/icon/glue.png"></a>
              </div>
          </div>
              <h2>Silicon</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>75% Poliester | 20% Elastan | 5% Poliuretano | 110<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material30'>
            <img class="img-circle" src="../images/materials/tavolara220.jpg">
              <div class='weather' id='weather30'>
                <a title="Sol"><img id='sun' src="../images/icon/sun.png"></a>
                <a title="Altas temperaturas"><img id='high-temp' src="../images/icon/high temp.png"></a>
                <a title="Transpirante"><img id='breathable' src="../images/icon/breathable.png"></a>
              </div>
          </div>
              <h2>Tavolara 220</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
               <div class='technical-info'><p>80% Poliester | 20% Elastan | 220<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class='image-materials-info' id='material31'>
            <img class="img-circle" src="../images/materials/windtexdrop.jpg">
              <div class='weather' id='weather31'>
                <a title="Invierno"><img id='winter-cold' src="../images/icon/bad-weather.png"></a>
                <a title="Viento"><img id='wind' src="../images/icon/wind.png"></a>
                <a title="Impermeable"><img id='waterproof' src="../images/icon/waterproof.png"></a>
              </div>
          </div>
              <h2>Windtex Drop</h2>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <div class='technical-info'><p>83% Poliamida | 16% Poliester | 1% Elastan | 245<sup>+</sup><sub style='position: relative; left: -.5em;'>-</sub>5% Gr/M<sup>2</sup></p></div>
        </div>

       </div><!--END ROW-->

      </div><!--END CONTAINER-->

        <div class='footer'>
          
            <div class="container_footer">
              <div class="col-lg-3 col-md-3">
                <h5> ® ROGER-SPORT</h5>
                  <ul>
                    <li><a href="../files/rs-avisolegal.pdf">Aviso legal</a></li>
                  </ul>
                <h5>CICLISMO</h5>
                  <ul>
                    <li><a href="../catalog_views/maillotcorto-storm.html">Conjunto verano I</a></li>
                    <li><a href="../catalog_views/chaleco-storm.html">Conjunto verano II</a></li>
                    <li><a href="../catalog_views/maillotlargo-storm.html">Conjunto entretiempo</a></li>
                    <li><a href="../catalog_views/chaqueta-storm.html">Conjunto invierno</a></li>
                    <li><a href="../catalog_views/buzo-eus.html">Buzo</a></li>
                    <li><a href="../catalog_views/chubasquero-techless.html">Chubasquero</a></li>
                    <li><a href="ciclismocustom.html">Equipaciones personalizadas</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>RUNNING</h5>
                  <ul>
                    <li><a href="../catalog_views/storm-red.html">Camiseta</a></li>
                    <li><a href="../catalog_views/short-dark.html">Pantalon corto</a></li>
                    <li><a href="runningcustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>DUA/TRIATLON</h5>
                  <ul>
                    <li><a href="../catalog_views/body-gear.html">Body</a></li>
                    <li><a href="duatloncustom.html">Equipaciones personalizadas</a></li>
                  </ul>
                  <h5>COMPLEMENTOS</h5>
                  <ul>
                    <li><a href="complementoscustom.html">Personalizado</a></li>
                    <li><a href="complementoscatalogo.html">Catalogo</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
                <h5>TECNOLOGIAS</h5>
                  <ul>
                    <li><a href="badanas.html">Badanas</a></li>
                    <li><a href="materiales.html">Materiales</a></li>
                  </ul>
                <h5>SOBRE NOSOTROS</h5>
                  <ul>
                    <li><a href="about.html">Quienes somos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                  </ul>
                <h5>SIGUENOS <a href="https://www.facebook.com/pages/Roger-Sport/616391605087554?ref=hl"><img id='facebook-icon' src="../images/icon/facebook.png"></a>
                              <a href="https://plus.google.com/102787408850322895760/about?_ga=1.17424958.626591686.1435356668" rel="publisher"><img id='googleplus-icon' src="../images/icon/googleplus.png"></a></h5>
              
                <h5>DUDAS</h5>
                  <ul>
                    <li><a href="faq.html">Preguntas frecuentes</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3">
              <h5>PREGUNTAS Y SUGERENCIAS</h5>
                  <div id="form-messages"></div>
                  
                  <form id="ajax-contact" method="post" action="mailer.php">
                    <div class="field">
                      <label for="name">Nombre</label>
                      <input type="text" id="name" name="name" required>
                    </div>

                    <div class="field">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" required>
                    </div>

                    <div class="field">
                      <label for="message">Duda o sugerencia</label>
                      <textarea id="message" name="message" required></textarea>
                    </div>

                    <div class="field">
                      <button id='enviar' type="submit">Send</button>
                    </div>
                  </form>
              </div>

            </div>
          
        </div><!-- end footer -->

        <div class="cookiesms" id="cookie1">
          Esta web utiliza cookies, puedes ver aquí nuestra<a href="../files/politicacookies.pdf">&nbsp&nbsp&nbsp&nbsp política de cookies&nbsp&nbsp&nbsp&nbsp</a> 
                    Si continuas navegando estás aceptándola
          <button onclick="controlcookies()">Aceptar</button>
            <div  class="cookies2" onmouseover="document.getElementById('cookie1').style.bottom = '0px';">Política de cookies + </div>
        </div>
        <script type="text/javascript">
          if (localStorage.controlcookie>0){ 
            document.getElementById('cookie1').style.bottom = '-50px';
            }
        </script>
        <script type="text/javascript" src="../css_js/ga.js"></script>
  </body>
</html>
